<!DOCTYPE html>
<html>
    <head>
      <title>Book List</title>
      <link rel="stylesheet" href="/dest/style.css"/>
    </head>
    <body class="list-page">
        <h1><%= title %></h1>
        <table class="books-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Authors</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
              <% books.forEach((book) => { %>
                <tr>
                    <td><%= book.book_id %></td>
                    <td><%= book.title %></td>
                    <td><%= book.authors %></td>
                    <td>
                      <a href="/book/delete/<%= book.book_id %>">Delete</a>
                    </td>
                </tr>
              <%})%>
          </tbody>
        </table>
    </body>
    
</html>


